/*========================================
Universal Styling
======================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url(assets/pat.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

header {
    background: #fccb06;
    border-bottom: 1px solid #c0c0c0;
    padding-top: 20px;
}

.top-navbar {
    display: flex;
    align-items: stretch;
}

.top-navbar > h1 {
    flex-grow: 1;
    text-align: left;
    color: #222e50;
    font-size: 24px;
    margin-right: auto;
}

.top-navbar > nav {
    text-align: right;
}

nav a {
    color: #222e50;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #c0c0c0;
}

.content {
    display: flex;
    align-items: stretch;
    padding: 40px 0;
}

.content > main {
    max-width: 60%;
    flex-grow: 8;
    background: white;
    margin: 20px;
    padding: 10px;
}

h1,
h2,
h3,
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #222e50;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    border-bottom: 1px solid #c0c0c0;
    padding: 0 5px;
}

h3 {
    font-size: 20px;
    padding: 0 5px;
    border-bottom: 1px solid #c0c0c0;
}

p {
    color: #222e50;
    font-size: 16px;
    font-family: 'Times New Roman';
    line-height: 140%;
    margin: 10px;
}

img {
    float: left;
    padding: 5px 10px;
    padding-bottom: 5px 5px;
}

.content > aside {
    max-width: fit-content;
    height: fit-content;
    background: white;
    margin: 20px;
    padding: 5px;
    align-items: center;
}

footer {
    margin-top: auto;
    background: #fccb06;
    border-top: 1px solid #c0c0c0;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 14px;
}
